body {
    font-family: Cabin, Epilogue, Oxygen, Arial, Helvetica, sans-serif;
    color: #3345b1;
}
#contactH1 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#contactH2 {
    margin: 0;
    text-align: center;
}
button {
    width: 100%;
    margin: 0 auto;
    color: #3345b1;
    transition: background-color 0.2s ease-in;
}
button:hover {
    transition: background-color 0.2s ease-in;
    background-color: #cddaf7 !important;
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #contactH1 { font-size: 6vh; }
    #contactH2 {
        font-size: 2.5vh;
        margin-bottom: 2.5vh;
    }
    button {
        height: 6vh;
        font-size: 2.5vh;
        border: 0.3vh solid #3345b1;
        border-radius: 1.5vh;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #contactH1 { font-size: 6vw; }
    #contactH2 {
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    button {
        height: 7vw;
        font-size: 2.5vw;
        border: 0.3vw solid #3345b1;
        border-radius: 2vw;
    }

}