/* Introduction */
#intro_transition {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color:#5f73e7;
  animation: slide_left 0.7s ease-in-out 3.8s forwards;
}

@keyframes slide_left {
  from {left: 0;}
  to {left: -100%;}
}

#intro_message {
  font-size: 125px;
  color: white;
  font-weight: bold;
}

#intro_message p {
  display:inline;
  color: transparent;
}

#intro_message p:nth-child(1) { animation: welcome_animation 1.4s ease-in-out forwards 0.8s; }
#intro_message p:nth-child(2) { animation: welcome_animation 1.4s ease-in-out forwards 0.9s; }
#intro_message p:nth-child(3) { animation: welcome_animation 1.4s ease-in-out forwards 1.0s; }
#intro_message p:nth-child(4) { animation: welcome_animation 1.4s ease-in-out forwards 1.1s; }
#intro_message p:nth-child(5) { animation: welcome_animation 1.4s ease-in-out forwards 1.2s; }
#intro_message p:nth-child(6) { animation: welcome_animation 1.4s ease-in-out forwards 1.3s; }
#intro_message p:nth-child(7) { animation: welcome_animation 1.4s ease-in-out forwards 1.4s; }
#intro_message p:nth-child(8) { animation: welcome_animation 1.4s ease-in-out forwards 1.5s; }

@keyframes welcome_animation {
  from { color: transparent; }
  to { color: white; }
}

/* Navigation */
nav {
  top: -5em;
  width: 100%;
  z-index: 102;
  position: fixed;
  background-color: white;
  animation: slide_down 1s ease-in-out 4s forwards;
}

@keyframes slide_down {
  from { top: -80px; }
  to { top: 0; }
}

#navbar {
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#navbar a {
  display: flex;
  cursor: pointer;
  align-items: center;
}

#navbar img {
  max-height: 40px;
  width: auto;
  margin: 8px;
}

#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#navbar li {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 15px;
}

#selected {
  color: #5f73e7 !important;
  font-weight: bold;
}

a.nav_button {
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  color: #5f73e7;
  border: 2px solid #5f73e7;
  transition: background-color 0.2s ease-in;
  font-weight: bold;
}

a.nav_button:hover {
  transition: background-color 0.2s ease-in;
  background-color: #e8dcf8;
}

/* Home section */
#home {
  height: calc(100% + 125px);
  background-color: #e4f2fa;
}

.canvasX{
  width: 100%;
  height: 100%;
  position: absolute;
}

#canvasY {
  width: 35%;
  margin-left: 500px;
}

#descriptionY {
  width: 30%;
  margin-right: 500px;
}

#descriptionY p:nth-child(1) {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.8em;
  color: #3345b1;
}

#descriptionY p:nth-child(2) {
  margin: 0;
  margin-bottom: 0.1em;
  font-size: 5em;
  font-weight: bold;
  color: #0f1b61;
}

#descriptionY p:nth-child(3) {
  margin: 0;
  margin-bottom: 0.4em;
  font-size: 3em;
  font-weight: bold;
  color: #3345b1;
}

#descriptionY p:nth-child(4) {
  margin: 0;
  font-size: 1.4em;
  color: #0f1b61;
  max-width: 90%;
}

#canvas_element {
  height: 600px;
  width: 700px;
}
