body {
    font-family: Cabin, Epilogue, Oxygen, Arial, Helvetica, sans-serif;
    color: #3345b1;
}

p.h1 {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

p.h2 {
    font-size: 20px;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
}

button {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    border: 2px solid #3345b1;
    border-radius: 0.4em;
    color: #3345b1;
    transition: background-color 0.2s ease-in;
}

button:hover {
    transition: background-color 0.2s ease-in;
    background-color: #cddaf7 !important;
}
