#intro_transition {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color:red;
    animation: slide_left 0.7s ease-in-out 3.8s forwards;
  }

@keyframes slide_left {
  from {left: 0;}
  to {left: -100%;}
}