@import url('https://fonts.googleapis.com/css2?family=Epilogue');
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Cabin");

body, html {
  font-family: Epilogue, Oxygen, Cabin, Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
    scrollbar-width: none;
    scrollbar-color: #5f73e7 #e4f2fa;
}

*::-webkit-scrollbar { width: 10px; }
*::-webkit-scrollbar-track { background: #e4f2fa; }
*::-webkit-scrollbar-thumb { background-color: #5f73e7; }

*::selection { background: #a9b4f1; }
*::-moz-selection { background: #a9b4f1; }

a { text-decoration: none; }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alignX {
    display: flex;
    justify-content: center;
}

.alignY {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.border {
    top:0;width:100%;height:100%;position:fixed;z-index:101;box-sizing:border-box;
    -moz-box-sizing:border-box;-webkit-box-sizing:border-box;
    border:0 solid white;
    pointer-events:none;
}
