/* Navbar section ********************************************************************************************************************************************/
nav {
    width: 100%;
    z-index: 1000;
    position: fixed;
    background-color: white;
  }

#navbar {
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#leftNav {
    display: flex;
    cursor: pointer;
    align-items: center;
}

#siteLogo {
    max-height: 2.5em;
    width: auto;
    margin-right: 0.5em;
    margin: 0.5em;
  }

#headerTable {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.headerRow {
    display: flex;
    align-items: center;
    padding-left: 1.2em;
}

.rightNav {
    font-size: 0.9em;
    height: 100%;
    display: flex;
    align-items: center;
    color: #0f1b61;
}

.rightNav:hover { font-weight: bold; }

.selected {
    color: #5f73e7 !important;
    font-weight: bold;
}

.navButton {
    font-size: 0.9em;
    padding: 0.5em;
    border-radius: 0.4em;
    color: #5f73e7;
    border: 2px solid #5f73e7;
    transition: background-color 0.2s ease-in;
    font-weight: bold;
}

.navButton:hover {
    transition: background-color 0.2s ease-in;
    background-color: #e8dcf8;
}

/* Home section ********************************************************************************************************************************************/
#home {
    height: calc(100% + 125px);
    background-color: #e4f2fa;
}

#canvas {
    width: 35%;
    margin-left: 500px;
}

#description {
    width: 30%;
    margin-right: 500px;
}

#description p:nth-child(1) {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    color: #3345b1;
}

#description p:nth-child(2) {
    margin: 0;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: bold;
    color: #0f1b61;
}

#description p:nth-child(3) {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #3345b1;
}

#description p:nth-child(4) {
    margin: 0;
    font-size: 20px;
    color: #0f1b61;
    max-width: 90%;
}

#canvasElement {
    height: 600px;
    width: 700px;
    opacity: 0;

    animation-name: display;
    animation-play-state: paused;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes display {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#scrollY {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

#scroll {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    height: 100px;
    font-weight: bold;
}

.scrollLetter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    color: #3345b1;

    animation-duration: 1.6s;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#scrollChild1 { animation-delay: 0.0s; }
#scrollChild2 { animation-delay: 0.2s; }
#scrollChild3 { animation-delay: 0.4s; }
#scrollChild4 { animation-delay: 0.6s; }
#scrollChild5 { animation-delay: 0.8s; }
#scrollChild6 { animation-delay: 1.0s; }
#scrollChild7 { animation-delay: 1.2s; }

@keyframes bounce {
    0% { color: #3345b1; margin-top: 20px;}
    17% { color: #ec250b; margin-top: 0px;}
    34% { color: #3345b1; margin-top: 20px;}
    100% { color: #3345b1; margin-top: 20px;}
}

/* About section ********************************************************************************************************************************************/
#about { background-color: #cddaf7; }

.sectionHeader {
    font-size: 40px;
    font-weight: bold;
    color: #3345b1;
    text-align: center;
    margin: 0;
    margin-top: 140px;
}

#aboutH2 {
    font-size: 40px;
    color: #3345b1;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

#aboutBody {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#aboutPortrait {
    height: 300px;
    width: 300px;
}

#portraitOutline {
    z-index: 49;
    position: absolute;
    width: 250px;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.3);
}

#portrait {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 50;
    width: 250px;
    border-radius: 20px;
    border: 3px solid white;
}

#portraitOverlay {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 50;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: #3345b1;
    transition: opacity 0.2s ease-in;
    opacity: 0;
}

#portraitOverlay:hover {
    transition: opacity 0.2s ease-in;
    opacity: 0.3 !important;
}

#star {
    position: absolute;
    margin-left: -25px;
    margin-top: -30px;
    z-index: 52;
    width: 75px;

    animation-duration: 10s;
    animation-name: passiveRotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes passiveRotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.frontalLogo {
    position: absolute;
    z-index: 52;
    height: 75px;
    width: 75px;
    opacity: 0.65;
    padding-top: 200px;
    animation-duration: 5s;
    animation-name: passiveFloat;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.rearLogo {
    position: absolute;
    z-index: 52;
    height: 75px;
    width: 75px;
    opacity: 0.2;
    padding-top: 50px;
    animation-duration: 5s;
    animation-delay: 0.75s;
    animation-name: passiveFloat;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: translateY(25px);
}

@keyframes passiveFloat {
    0% { transform: translateY(25px); }
    50% { transform: translateY(0px); }
    100% { transform: translateY(25px); }
}

#pythonLogo { padding-right: 700px; }
#javaLogo { padding-left: 700px; }
#javascriptLogo { padding-right: 900px; }
#kotlinLogo { padding-left: 900px; }

#aboutDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    font-size: 18px;
    color: #0f1b61;
    width: 550px;
}

#aboutP1 {
    margin: 0;
    margin-bottom: 20px;
}

#aboutP2 { margin: 0; }

.usedTechnologies {
    display: flex;
    justify-content: center;
}

.experienceTable {
    margin-top: 12px;
    font-size: 18px;
    color: #0f1b61;
    border-collapse: collapse;
}

.tableTitle {
    text-align: center;
    height: 1.7em;
    font-size: 1.2em;
    padding: 10px 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid #d8e3fa;
    border-radius: 50px 50px 0px 0px;
}

.tableRow { background-color: #d8e3fa; }

.tableCol {
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid #d8e3fa;
}

.tableCol::first-letter { color:#3345b1; }

.tableColShort {
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid #d8e3fa;
}

.tableColShort::first-letter { color:#3345b1; }

/* Work section ********************************************************************************************************************************************/
#work { background-color: #e4f2fa; }

#workContainer {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#workRow {
    display: flex;
    flex-direction: column;
}

.projectContainer {
    margin-top: 50px;
    width: 100%;
}

.rightHand {
    position: relative;
}

.rightCard {
    position: absolute;
    min-height: 400px;
    width: 55%;
    border-radius: 10px;
    z-index: 5;
    right: 0;
    top: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid #f0f9ff;
}

#boidsCard {
    background-color: blue;
}

#jpVisual {
    background-color: green;
}

#marketScreener {
    background-color: pink;
}

#simEvo {
    background-color: purple;
}

.leftHand {
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.leftHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    width: 80%;
    margin: 20px 0;
}

.headerRow {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.projectTitle {
    font-size: 30px;
    color: #3345b1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftCard {
    min-height: 335px;
  border-radius: 10px;
  background-color: #f0f9ff;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectDescription {
    font-size: 18px;
    color: #0f1b61;
    width: 90%;
}

.cardTechnologies {
    font-size: 25px;
    color: #3345b1;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
}

/* Contact section ********************************************************************************************************************************************/
#contact {
    background-color: #cddaf7;
    min-height: 850px;
}

#contactSubheader {
    font-size: 20px;
    color: #3345b1;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInput {
    font-size: 20px;
    color: #0f1b61;
    border-radius: 4px;
    border-width: 0;
    background-color: #eef8fd;
    padding: 2px 10px;
}

#formName {
    width: 500px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#formEmail {
    width: 500px;
    height: 30px;
    margin: 5px 0px;
}

#formMessage {
    height: 350px;
    margin: 5px 0px;
    width: 500px;
    resize: vertical;
}

#formSubmit {
    width: 100%;
    height: 40px;
    margin: 15px auto;
    font-size: 19px;
    border: 2px solid #3345b1;
    border-radius: 0.4em;
    transition: background-color 0.2s ease-in;
    color: #3345b1;
}

#formSubmit:hover {
    transition: background-color 0.2s ease-in;
    background-color: #eef8fd !important;
}
