/* Navigation ________________________________________________________________________________________________________*/
nav {
    z-index: 1000;
    width: 100vw;
    position: fixed;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}
#navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.leftNav {
    display: flex;
    cursor: pointer;
    align-items: center;
}
.rightNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0f1b61;
    font-weight: 500;
}
.rightNav:hover {
    font-weight: 800;
}

#siteLogo {
    width: auto;
}

#headerTable {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.headerRow {
    display: flex;
    align-items: center;
}

.selected {
    color: #5f73e7 !important;
    font-weight: 800;
}
.navButton {
    color: #5f73e7;
    transition: background-color 0.2s ease-in;
    border: 0.25vh solid #5f73e7;
    font-weight: 500;
}
.navButton:hover {
    transition: background-color 0.2s ease-in;
    background-color: #e8dcf8;
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #navbar {
        max-width: 85%;
    }
    #siteLogo {
        height: 5vh;
        margin: 0.5vh 0;
    }
    .headerRow {
        padding-left: 1.5vh;
    }
    .rightNav {
        font-size: 1.6vh;
    }
    .navButton {
        font-size: 1.6vh;
        padding: 0.8vh;
        border-radius: 2vh;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #navbar {
        max-width: 90%;
    }
    #siteLogo {
        height: 8.5vw;
        margin: 1.2vw 0;
    }
    .headerRow {
        padding-left: 2vw;
    }
    .rightNav {
        display: none;
    }
    .navButton {
        font-size: 2.8vw;
        padding: 1.5vw;
        border-radius: 3vw;
    }

}

/* Home Section ______________________________________________________________________________________________________*/
#home {
    height: 100%;
    background-color: #e4f2fa;
}

#description p:nth-child(1) {
    margin: 0;
    font-weight: 500;
    color: #3345b1;
    text-shadow: 2px 0 #e4f2fa, -2px 0 #e4f2fa, 0 2px #e4f2fa, 0 -2px #e4f2fa,
    1px 1px #e4f2fa, -1px -1px #e4f2fa, 1px -1px #e4f2fa, -1px 1px #e4f2fa;
}
#description p:nth-child(2) {
    margin: 0;
    font-weight: 800;
    color: #0f1b61;
    text-shadow: 2px 0 #e4f2fa, -2px 0 #e4f2fa, 0 2px #e4f2fa, 0 -2px #e4f2fa,
    1px 1px #e4f2fa, -1px -1px #e4f2fa, 1px -1px #e4f2fa, -1px 1px #e4f2fa;
}
#description p:nth-child(3) {
    margin: 0;
    font-weight: 650;
    color: #3345b1;
    text-shadow: 2px 0 #e4f2fa, -2px 0 #e4f2fa, 0 2px #e4f2fa, 0 -2px #e4f2fa,
    1px 1px #e4f2fa, -1px -1px #e4f2fa, 1px -1px #e4f2fa, -1px 1px #e4f2fa;
}
#description p:nth-child(4) {
    margin: 0;
    color: #0f1b61;
    text-shadow: 2px 0 #e4f2fa, -2px 0 #e4f2fa, 0 2px #e4f2fa, 0 -2px #e4f2fa,
    1px 1px #e4f2fa, -1px -1px #e4f2fa, 1px -1px #e4f2fa, -1px 1px #e4f2fa;
}

#canvasElement {
    opacity: 0;
    animation-name: display;
    animation-play-state: paused;
    animation-delay: 0.8s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes display {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #description {
        width: 66vh;
        margin-right: 20vw;
    }
    #description p:nth-child(1) {
        margin-bottom: 1vh;
        font-size: 4vh;
    }
    #description p:nth-child(2) {
        margin-bottom: 1vh;
        font-size: 8.5vh;
    }
    #description p:nth-child(3) {
        margin-bottom: 2vh;
        font-size: 5vh;
    }
    #description p:nth-child(4) {
        max-width: 60vh;
        font-size: 2.2vh;
    }
    #canvasElement {
        width: 50vh;
        height: 70vh;
        margin-left: 38vw;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #description {
        text-align: center;
        width: 70vw;
        margin-bottom: 30vh;
    }
    #description p:nth-child(1) {
        margin-bottom: 1vw;
        font-size: 5vw;
    }
    #description p:nth-child(2) {
        margin-bottom: 2vw;
        font-size: 9vw;
    }
    #description p:nth-child(3) {
        margin-bottom: 2vw;
        font-size: 6vw;
    }
    #description p:nth-child(4) {
        font-size: 3.5vw;
    }
    #canvasElement {
        margin-top: 35vh;
        height: 70vw;
        width: 70vw;
    }

}

/* About Me Section __________________________________________________________________________________________________*/
#about {
    background-color: #cddaf7;
}
#aboutBody {
    display: flex;
    justify-content: center;
}
#aboutDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0f1b61;
}
#aboutH2 {
    font-weight: 500;
    color: #3345b1;
    text-align: center;
    margin: 0;
}

#portraitOutline {
    z-index: 49;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
}
#portrait {
    position: absolute;
    z-index: 50;
}
#portraitOverlay {
    position: absolute;
    z-index: 50;
    background-color: #3345b1;
    transition: opacity 0.2s ease-in;
    opacity: 0;
}
#portraitOverlay:hover {
    transition: opacity 0.2s ease-in;
    opacity: 0.3 !important;
}
#star {
    position: absolute;
    z-index: 52;
    animation-duration: 10s;
    animation-name: passiveRotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes passiveRotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.experienceTable {
    display: flex;
    justify-content: center;
}
.tableBuffer {
    background-color: #d8e3fa;
    border-color: #3345b1;
}
.tableTitle {
    text-align: center;
    font-weight: 500;
    color: #3345b1;
}
.tableCol {
    color: #0f1b61;
}
.tableCol::first-letter {
    font-weight: bold;
}

#aboutP1 {
    margin: 0;
}
#aboutP2 {
    margin: 0;
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #aboutH2 {
        font-size: 4vh;
        margin-bottom: 3vh;
    }
    #aboutPortrait {
        height: 30vh;
        width: 30vh;
        margin-left: 5vh;
    }
    #portraitOutline {
        width: 25vh;
        height: 25vh;
        margin-top: 5.25vh;
        margin-left: 3.25vh;
        border-radius: 9vh 1vh;
        border: 0.4vh solid #e4f2fa;
    }
    #portrait {
        width: 25vh;
        height: 25vh;
        margin-left: 2vh;
        margin-top: 4vh;
        border-radius: 8vh 1vh;
        border: 0.4vh solid #e4f2fa;
    }
    #portraitOverlay {
        width: 25vh;
        height: 25vh;
        margin-left: 2vh;
        margin-top: 4vh;
        border-radius: 8vh 1vh;
        border: 0.4vh solid #e4f2fa;
    }
    #star {
        margin-top: 2vh;
        width: 8vh;
    }
    #aboutP1 {
        margin-bottom: 3vh;
    }
    #aboutBody {
        margin: 5vh 0;
    }
    #aboutDescription {
        padding: 0 6vh;
        font-size: 2.2vh;
        width: 50vh;
    }
    .tableBuffer {
        border-radius: 4vh;
        padding: 3vh 1vh;
        width: 65vh;
        box-shadow: 0 1vh 2vh #3346b181;
        transform: perspective(1100px) rotateX(20deg);
    }
    .tableTitle {
        padding: 3vh;
        font-size: 4vh;
    }
    .tableCol {
        width: 25vh;
        height: 4.5vh;
        font-size: 2.2vh;
    }

    .frontalLogo {
        position: absolute;
        z-index: 52;
        height: 8vh;
        width: 8vh;
        opacity: 0.75;
        padding-top: 6vh;
        animation-duration: 5s;
        animation-name: passiveFloat;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    .rearLogo {
        position: absolute;
        z-index: 52;
        height: 6.5vh;
        width: 6.5vh;
        opacity: 0.4;
        padding-top: 20vh;
        animation-duration: 5s;
        animation-delay: 0.75s;
        animation-name: passiveFloat;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        transform: translateY(3vh);
    }

    #pythonLogo { padding-right: 80vh; }
    #javaLogo { padding-left: 80vh; }
    #javascriptLogo { padding-right: 85vh; }
    #kotlinLogo { padding-left: 85vh; }

    @keyframes passiveFloat {
        0% { transform: translateY(3vh); }
        50% { transform: translateY(0px); }
        100% { transform: translateY(3vh); }
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #aboutH2 {
        font-size: 5vw;
        margin-bottom: 5vw;
    }
    #aboutPortrait {
        margin-top: 7vw;
        margin-bottom: 2.5vw;
        height: 50vw;
        width: 50vw;
    }
    #portraitOutline {
        width: 44vw;
        height: 44vw;
        margin-top: 1.5vw;
        margin-left: 3.5vw;
        border-radius: 12vw 2vw;
        border: 0.5vw solid #e4f2fa;
    }
    #portrait {
        width: 44vw;
        height: 44vw;
        margin-left: 1.5vw;
        border-radius: 12vw 2vw;
        border: 0.5vw solid #e4f2fa;
    }
    #portraitOverlay { display: none; }
    #star {
        margin-left: -1.5vw;
        margin-top: -4vw;
        width: 13vw;
    }
    #aboutP1 {
        margin-bottom: 3vw;
    }
    #aboutBody {
        margin-bottom: 5vw;
        flex-direction: column;
        align-items: center;
    }
    #aboutDescription {
        font-size: 3.5vw;
        width: 70vw;
    }
    .tableBuffer {
        border-radius: 6vw;
        padding: 2vw 6vw;
        width: 70vw;
        box-shadow: 0 1.5vw 3vw #3346b181;
        transform: perspective(2000px) rotateX(20deg);
    }
    .tableTitle {
        height: 10vw;
        font-size: 5vw;
    }
    .tableCol {
        width: 38vw;
        height: 8vw;
        font-size: 3.5vw;
    }
    #pythonLogo { display: none; }
    #javaLogo { display: none; }
    #javascriptLogo { display: none; }
    #kotlinLogo { display: none; }

}

/* Work Section __________________________________________________________________________________________________*/
#work {
    background-color: #e4f2fa;
}
#workContainer {
    margin: auto;
}
#workRow {
    display: flex;
    flex-direction: column;
}
.projectHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projectTitle {
    font-weight: 600;
    color: #3345b1;
}
.projectDetails {
    align-items: center;
}
.projectPreview {
    background-color: #cddaf7;
    box-shadow: 0 0 2vh #3346b17c;
}
#jpTrainerPreview {
    background-image: url("../visuals/jpTrainerPreview.gif");
    background-size: cover;
    transform: perspective(700px) rotateX(20deg);
}
#boidFlockPreview {
    background-image: url("../visuals/boidFlockPreview.gif");
    background-size: cover;
    transform: perspective(700px) rotateX(20deg);
}
#evolutionarySimPreview {
    background-image: url("../visuals/evolutionarySimPreview.gif");
    background-size: cover;
    transform: perspective(700px) rotateX(20deg);
}
.projectDescriptionBox {
    background-color: white;
    z-index: 10;
}
.projectDescription {
    color:  #0f1b61;
}
.projectTechnologies {
    margin: auto;
    background-color: white;
    text-align: center;
}
.projectTechnologiesHeader {
    font-weight: 500;
    color: #3345b1;
}
.projectTechnologiesBody {
    color:  #0f1b61;
    margin: 0;
}
.subprojectTitle {
    margin-top: 6vh;
    font-size: 4vh;
    font-weight: 600;
    color: #3345b1;
}
.subproject {
    background-color: white;
    box-shadow: 0 0 2vh #3346b17c;
    border-radius: 2vh;
    padding: 3vh;
    margin-bottom: 3vh;
}
.subprojectName {
    font-size: 3vh;
    font-weight: 500;
    color: #3345b1;
    margin: 0;
    margin-bottom: 2vh;
}
.subprojectDescription {
    font-size: 2vh;
    color: #0f1b61;
    margin: 0;
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #workContainer {
        width: 95vh;
    }
    .projectContainer {
        margin-top: 4.5vh;
        width: 100%;
    }
    .githubLink {
        width: 5vh;
        height: 5vh;
    }
    .projectTitle {
        font-size: 4vh;
        margin-bottom: 3vh;
    }
    .projectDetails {
        display: flex;
        justify-content: space-between;
    }
    .projectHeader {
        margin-top: 5vh;
        margin-bottom: 1vh;
        height: 7vh;
        padding: 0 4vh;
    }
    .projectPreview {
        width: 55%;
        height: 38vh;
        border-radius: 2vh 0 0 2vh;
        box-shadow: 0 0 2vh #3346b17c;
    }
    #jpTrainerPreview {
        margin-left: 5vh;
        margin-top: 5.5vh;
        position: absolute;
        width: 42vh;
        height: 25vh;
        transition: margin-left 0.2s ease-in;
    }
    #boidFlockPreview {
        margin-left: 5vh;
        margin-top: 5.5vh;
        position: absolute;
        width: 42vh;
        height: 25vh;
        transition: margin-left 0.2s ease-in;
    }
    #evolutionarySimPreview {
        margin-left: 5vh;
        margin-top: 5.5vh;
        position: absolute;
        width: 42vh;
        height: 25vh;
        transition: margin-left 0.2s ease-in;
    }
    .projectPreview:hover #jpTrainerPreview {
        margin-left: 8vh !important;
        transition: margin-left 0.2s ease-in;
    }
    .projectPreview:hover #boidFlockPreview {
        margin-left: 8vh !important;
        transition: margin-left 0.2s ease-in;
    }
    .projectPreview:hover #evolutionarySimPreview {
        margin-left: 8vh !important;
        transition: margin-left 0.2s ease-in;
    }
    .projectDescriptionBox {
        border-radius: 0 0 2vh 0;
        box-shadow: 0 0 2vh #3346b17c;
        width: 45%;
        height: 38vh;
        transform: skew(-10deg);
        transform-origin:top;
    }
    .projectDescription {
        font-size: 2vh;
        padding: 1.5vh 3vh;
    }
    .projectTechnologies {
        border-radius: 2vh;
        box-shadow: 0 0 2vh #3346b17c;
        padding: 2vh;
        position: relative;
        z-index: 1100;
        margin-top: -3vh;
        margin-right: 40vh;
        width: 45%;
        transform: skew(-10deg);
        transform-origin:top;
    }
    .projectTechnologiesHeader {
        font-size: 3vh;
        margin-bottom: 1vh;
        margin-top: 0;
    }
    .projectTechnologiesBody {
        font-size: 2vh;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #workContainer {
        width: 85vw;
    }
    .projectContainer {
        margin-top: 5vw;
        width: 100%;
    }
    .githubLink {
        width: 6.5vw;
        height: 6.5vw;
    }
    .projectTitle {
        font-size: 5vw;
        margin-bottom: 5vw;
    }
    .projectHeader {
        margin-top: 7vw;
        margin-bottom: 2vw;
        height: 8vw;
        padding: 0 4vw;
    }

    .projectPreview {
        width: 100%;
        height: 50vw;
        border-radius: 3vw 3vw 0 0;
        box-shadow: 0 0 3vw #3346b17c;
        display: flex;
        align-items: center;
    }
    #jpTrainerPreview {
        margin-left: 10.5vw !important;
        z-index: 10;
        width: 63vw;
        height: 37.5vw;
    }
    #boidFlockPreview {
        margin-left: 10.5vw !important;
        z-index: 10;
        width: 63vw;
        height: 37.5vw;
    }
    #evolutionarySimPreview {
        margin-left: 10.5vw !important;
        z-index: 10;
        width: 63vw;
        height: 37.5vw;
    }
    .projectDescriptionBox {
        border-radius: 0 0 3vw 3vw;
        box-shadow: 0 0 3vw #3346b17c;
        width: 100%;
        position: relative;
        z-index: 100;
    }
    .projectDescription {
        font-size: 3vw;
        padding: 4vw 4vw;
        margin: 0;
    }
    .projectTechnologies {
        margin-top: 2vw;
        border-radius: 3vw;
        box-shadow: 0 0 3vw #3346b17c;
        padding: 3vw;
    }
    .projectTechnologiesHeader {
        font-size: 5vw;
        margin-bottom: 2vw;
        margin-top: 0;
    }
    .projectTechnologiesBody {
        font-size: 3vw;
    }

}

/* Contact Section ___________________________________________________________________________________________________*/
#contact {
    background-color: #cddaf7;
}
#contactSubheader {
    color: #0f1b61;
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInput {
    color: #0f1b61;
    border-width: 0;
    background-color: #e4f2fa;
}
#formMessage {
    resize: none;
    font-family: inherit;
}
#formSubmit {
    transition: background-color 0.2s ease-in;
    color: #3345b1;
    transition: color ease-in-out 0.5s, opacity ease-in 0.5s;
}
#formSubmit:hover {
    transition: background-color 0.2s ease-in;
    background-color: #e4f2fa !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3345b1;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3345b1;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #3345b1;
}

input:focus {
    outline: none !important;
    border-color: #3345b1;
    box-shadow: 0 0 10px #3345b1;
  }

  textarea:focus { 
    outline: none !important;
    border-color: #3345b1;
    box-shadow: 0 0 10px #3345b1;
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #contact { min-height: 850px; }
    #contactSubheader {
        font-size: 2.2vh;
        margin: 2vh 0;
        margin-bottom: 4vh;
    }
    .formInput {
        font-size: 2.2vh;
        border-radius: 1.5vh;
        padding: 1.5vh 2vh;
    }
    #formName {
        width: 60vh;
        margin: 0.5vh 0;
    }
    #formEmail {
        width: 60vh;
        margin: 0.5vh 0;
    }
    #formMessage {
        width: 60vh;
        height: 40vh;
        margin: 0.5vh 0;
        font-size: 2.2vh;
        
    }
    #formSubmit {
        width: 100%;
        height: 5vh;
        margin: 2vh auto;
        font-size: 2.2vh;
        border: 0.3vh solid #3345b1;
        border-radius: 5vh;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #contactSubheader {
        font-size: 3.5vw;
        max-width: 85%;
        margin: 3vw auto;
        margin-bottom: 6vw;
    }
    .formInput {
        font-size: 3.5vw;
        border-radius: 2vw;
        padding: 3vw 2vw;
        margin: 1vw auto;
    }
    #formName {
        width: 85vw;
        height: 2vw;
    }
    #formEmail {
        width: 85vw;
        height: 2vw;
        margin-bottom: 1vw;
    }
    #formMessage {
        width: 85vw;
        height: 40vw;
        margin-bottom: 2vw;
    }
    #formSubmit {
        width: 100%;
        height: 8vw;
        font-size: 3.5vw;
        border: 0.5vw solid #3345b1;
        border-radius: 5vw;
    }

}

